.quiz-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  font-family: sans-serif;
}

.quiz-question {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  align-items: center;
  width: fit-content;
  margin: 1em auto;
}

.quiz-question .country {
  color: #5890FF;
}

.quiz-options {
  list-style: none;
  padding: 0;
}

.quiz-option {
  display: inline-block;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  background-color: white;
  transition: transform 0.2s ease-in-out;
}

.quiz-option:not(:disabled) {
  cursor: pointer;
}

.quiz-option:not(:disabled):hover {
  background-color: #eee;
  transform: scale(1.1);
}

.quiz-option.correct {
  background-color: #43D998;
  color: #000;
}

.quiz-option.incorrect {
  background-color: #F38181;
  color: #000;
}

.quiz-next-button {
  width: 200px;
  height: 50px;
  font-size: 1.3rem;
  margin: 0 auto;
  display: block;
  background-color: white;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.quiz-next-button:hover {
  transform: scale(1.05);
}
